@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appContainer {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  max-width: 100vw;
  overflow-x: hidden;
}

.leftPage, .rightPage {
  background: linear-gradient(180deg, rgba(255, 255, 253, 0.10) 31.51%, rgba(133, 72, 33, 0.10) 87.09%);
  /* background: rgba(29, 69, 37, 0.05); */
  display: flex;
  max-width: 100%;
}

.leftPage {
  display: grid;
  justify-items: center;
  width: 5rem;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.menuIconContainer {
  padding-top: 15px; 
}

.menuIcon {
  fill: #343434;
}

.rightPage {
  grid-column: 3;
  display: grid;
  /* justify-items: center; */
  width: 5rem;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.cartContainer {
  padding-top: 15px;
}

.cart {
  color: #343434;
  text-align: center;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin: 0;
  align-self: first baseline;
}

.cartCountContainer {
  max-width: 100%;
  display: grid;
  justify-content: center;
  padding-top: 3px;
  position: relative;
}

.cartCircle {
  fill: #343434;
  width: 19px;
  height: 19px;
}

.cartCount {
  color: #fffffd;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.22px;
  position: absolute;
  margin: 0;
  text-align: center;
  left: 46.25%;
  top: 18%;
}

.centerPage {
  grid-column: 2;
  height: 18rem;
  width: 100%;
  display: grid;
  place-items: center;
  color: #ff43ea;
  position: relative;
}

.centerPage::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 18rem; */
  background-image: 
  linear-gradient(to bottom, rgba(255,255,253,.1), rgba(255,255,253,.3)),
  url('./img/coffeeBeans.webp');
  background-repeat: no-repeat;
  background-size: 100% 33rem;
  background-position: 50% -6rem;
  filter: saturate(60%);
  position: absolute;
  box-shadow: 0px 3px 9.1px 1px rgba(0, 0, 0, 0.25);
}

.centerPageBottom {
  grid-column: 2;
  /* background: linear-gradient(180deg, rgba(248, 241, 34, 0.04) 0%, rgba(255, 255, 253, 0.08) 46.19%); */
}

header {
  position: relative;
  flex-shrink: 0;
}

.mast-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  height: 18rem;
}

.logoContainer {
  grid-column: 2;
  display: grid;
  max-width: 100%;
  max-height: 100%;
  align-content: center;
  justify-content: center;
  /* padding-bottom: 80px; */
}

.logo {
  max-width: 196px;
  max-height: 196px;
  align-self: center;
}

h1#header {
  color: white;
}

.inventory-widget {
  display: none;
  /* grid-column: 3;
  grid-row: 1;
  display: grid;
  max-width: 95%;
  max-width: 360px;
  max-height: 13rem;
  transform: rotate(2.384deg) translateY(-3%) translateX(43%);
  flex-shrink: 0;
  background-image: url('./img/indexCard.webp');
  background-repeat: no-repeat;
  background-size: 95% 100%;
  filter: drop-shadow(0 0 5px #d5d4d4);
  z-index: 99; */
}

.inventory {
  display: none;
  /* grid-column: 3;
  grid-row: 1;
  transform: rotate(2.384deg) translateY(-2.5%) translateX(35%);
  display: grid;
  max-width: 90%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4rem 1fr;
  margin-right: 19px;
  z-index: 999; */
}

.inventoryHeader, .itemName, .itemPounds {
  max-width: 100%;
  color: #000;
  font-family: "Fira Mono";
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inventoryHeader {
  font-size: 18px;
  letter-spacing: 1.26px;
  text-transform: uppercase;
}

#inventoryHeader {
  grid-column: 1;
  max-width: 100%;
  text-align: left;
  padding: 26px 0 0 35px;
}

.widgetActions {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-right: 35px;
  padding-top: 10px;
}

.widgetLink {
  color: #50A060;
  text-align: right;
  font-family: Mulish;
  font-size: 13px;
  font-style: normal;
  font-weight: 1000;
  line-height: 15px; /* 115.385% */
  letter-spacing: 1.17px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 19px;
}

/* .linkB {
  transform: rotate(-1deg);
} */

.widgetLink:hover {
  transform: scale(1.1) rotate(-1deg);
  transition: all 0.5s ease;
  color: #4a9759;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none !important;
  pointer-events: all;
}

.inv-1 {
  grid-column: 1;
  padding: 0 10px 0 35px;
}

.inv-1 {
  display: grid;
  grid-template-columns: 1.1fr .9fr;
  grid-template-rows: 2rem 2rem 2rem 2rem;

}

.itemName {
  grid-column: 1;
  font-size: 14px;
  letter-spacing: 0.98px;
  padding-top: 9px;
}

.itemPounds {
  grid-column: 2;
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.84px;
  padding-top: 11px;
}

.itemName, .itemPounds {
  display: flex;
  flex-direction: column;
}

#container-items-list {
  display: flex;
  /* position: relative; */
  /* align-items: center; */
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
  padding-bottom: 80px;
  padding-top: 40px;
  /* flex: 6; */
}

.itemCard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 539px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(133, 72, 33, 0.10);
  box-shadow: 0px 4px 7.2px 0px rgba(10, 9, 9, 0.30);
}


.itemCard:hover {
  transform: scale(1.04);
  transition: all 0.5s ease;
  cursor: pointer;
}

.cardImgContainer {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#detailCardImgContainer {
  grid-column: 2;
}

.cardImg {
  /* max-width: 100%;
  max-height: 100%; */
  padding: 9px 0 0 9px;
  max-width: 100%;
}

.content {
  grid-column: 2;
  grid-row: 1;
  word-wrap: break-word;
  display: grid;
  grid-template-columns: auto auto;
  max-height: 100%;
  margin: 10px 10px 10px 10px;
}

.cardTopContainer {
  grid-column: 1;
  max-height: 100%;
  max-width: 100%;
}

.flagContainer {
  max-width: 100%;
  display: flex;
  justify-content: end;
}

#detailFlagHide {
 width: 80%;
 justify-content: start;
 margin-top: 4px;
}

.detailFlagContainer {
  margin: 20px 0 45px 45px;
}

.flag {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
  margin: 0;
  display: flex;
}

.cardHeader {
  color: #343434;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin: 10px 0 14px 0;
}

.cardSubHead {
  color: rgba(93, 91, 91, 0.80);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 7px;
}

#desSubHead {
  padding-top: 5px;
  margin: 0;
}

.subHeadText, .subHeadTextB {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

.subHeadTextB {
  text-transform: lowercase;
}

.desColumn {
  grid-column: 1 / span 2;
  height: 9.2rem;
  max-height: 8.6rem;
  overflow-y: hidden;
  margin-top: 4px;
}

.description {
  /* width: 222px; */
  color: #000;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  margin: 5px 16px 0px 16px;
  padding-right: 10px;
}

.cardPrice {
  grid-column: 2;
  grid-row: 3;
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.26px;
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  text-align: end;
  align-self: flex-end;
  max-height: 100%;
  padding-top: 2px;
}

.priceUnit {
  color: rgba(93, 91, 91, 0.80);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

.container-details {
  position: fixed;
  min-width: 100vw;
  min-height: 100%;
  background: rgba(62, 56, 56, 0.85);
  backdrop-filter: blur(5px) saturate(70%);
  z-index: 9999;
  display: grid;
  justify-content: center;
  align-content: center;
}

.container-details:first-child {
  position: absolute;
}

.detailPgCard {
  display: grid;

}

.details {
  width: 596px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  background-color: #F3EDE7;
  filter: drop-shadow(0px 4px 7.2px rgba(10, 9, 9, 0.30));
}

.detailContent {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.details-info {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  max-width: 100%;
  margin: 35px 35px 0 35px;
}

#detailImg {
  grid-column: 2;
}

#detailFlagImg {
  /* align-content: end;
  justify-content: end; */
  display: none;
}

#detailContent {
  grid-column: 1;
  margin: 0;
  margin-left: 10px;
}

#detailHeader {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
}

#detailDescription {
  margin-right: 0;
}

#detailPrice {
  display: none;
}

.detailPriceContainer {
  grid-column: 1;
  grid-row: 2;
  max-height: 100%;
  /* align-content: end; */
  margin-left: 45px;
  margin-top: 20px;
}

#detailQuantity {
  padding-top: 2px;
  margin: 0px 0 7px 0px;
  /* color: rgba(93, 91, 91, 0.80);
  font-family: Mulish;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px; */
}

#detailPriceSubhead{
  margin: 0px 0 0 0px;
}

.detBtn {
  margin-left: 30px;
  z-index: 9999;
  position: absolute;
  top: 50px;
  left: 35px;
  cursor: pointer;
}

.detBtn img {
  width: 20px;
  height: 20px;
}

.addCartContainer {
  grid-column: 2;
  grid-row: 2 / span 2;
  margin-right: 39px;
  margin-bottom: 40px;
  padding-left: 0;
  margin-top: 20px;
  align-content: end;
  justify-content: end;
  max-height: 100%;
}

.addCartContainer form {
  display: grid;
  justify-content: end;
  width: 100%;
  gap: 14px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#inputSubhead {
  margin: 0;
  margin-right: 15px;
}

.addCartContainer form button{
  justify-self: end;
}

.input-quantity {
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #468E54;
  background: #FFFFFD;
  width: 106px;
  height: 27px;
  display: flex;
  text-align: center;
  justify-content: center;
  /* color: #50A060; */
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.28px;
}

input .input-quantity  {
  justify-content: center;
}

.indexNarrow {
  max-width: 50%;
  justify-self: end;
  transform: rotate(3.443deg);
}

.indexEditWidget, .editWidgetContainer {
  position: absolute;
  right: 0;
  bottom: 6%;
  display: grid;
}

.editWidgetContainer {
  width: 175px;
  height: 195px;
  transform: rotate(3.119deg);
}

.editWdgHeader {
  margin: 52px 0 0 10px;
  color: #000;
  font-family: "Fira Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  text-transform: uppercase;
}

#editLinkA {
  margin: 2px 19px 0px 0;
  padding-bottom: 16px;
}

#editLinkB {
  margin: 0px 19px 0 0;
  color: #B02024;
}

.formSubmission {
  /* padding: 2rem;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 216px;
  height: 440px;
  border: 6px rgb(248, 247, 247);
  box-shadow: 0 0px 10px 0 rgba(247, 243, 243, 0.459), 20px 6px 25px 0 rgba(156, 155, 155, 0.25);
  border-radius: 5px;
  background-color: rgb(247, 235, 212); 
  background-color: rgba(255, 255, 255, 0.785);
  border: 1px solid black;
  justify-content: center; */
}

.formCard {
  width: 596px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px;
  background: #F3EDE7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* display: flex;
  flex-direction: column; */
  gap: 10px;
}

.formHeader {
  color: rgba(133, 126, 117);
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.26px;
  text-transform: uppercase;
  /* text-align: center; */
  margin: 30px 0 12px 35px;
}

.breakLine1 {
  max-width: 100%;
  max-height: 1px;
  margin: 0 35px 0 35px;
}

.breakLine2, .breakLine3 {
  grid-column: 1 / span 2;
  max-width: 100%;
  max-height: 1px;
  margin: 0 35px 0 35px;
}

.breakLine2 {
  grid-row: 2;
}

.breakLine3 {
  grid-row: 4;
}

.reuseForm {
  max-width: 100%;
  display: grid;
  grid-template-columns: 285px auto;
  margin-top: 35px;
}

.reuseForm label{
  width: 100%;
}

.formCol1Content {
  grid-column: 1;
  grid-row: 1;
  padding: 0 0 0 35px;
  max-width: 100%;
  max-height: 100%;
}

.formCol2Content {
  grid-column: 2;
  grid-row: 3;
  padding: 25px 35px 12px 32px;
  max-width: 100%;
  max-height: 100%;
}

.formPrice {
  grid-column: 1;
  grid-row: 3;
  padding: 25px 0 12px 35px;
}

.formLine {
  display:  flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 11px;
}

#formTopRow {
  padding-top: 0;
}

.characterCountText {
  color: rgba(93, 91, 91, 0.80);
  text-align: right;
  font-family: Mulish;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 2px;
}

.formDescription {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
}

.descLab {
  padding-bottom: 11px;
}

textarea {
  border-radius: 20px;
  border: 1.5px solid #468E54;
  background: #FFFFFD;
  width: 215px !important;
  height: 114px !important;
  resize: none;
  color: #000;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 10px 16px 10px 16px;
  margin: 0;
}

label {
  color: rgba(93, 91, 91, 0.80);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

input.nameInput {
  border-radius: 20px;
  border: 1.5px solid #468E54;
  background: #FFFFFD;
  width: 147px !important;
  height: 25px !important;
  color: #000;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
  padding: 0 5px 0 20px;
}

input.priceQuantityInput {
  width: 100px !important;
  height: 25px !important;
  border-radius: 20px;
  border: 1px solid #468E54;
  background: #FFFFFD;
  color: #000;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 0;
  text-align: center;
}

.formImage {
  display: grid;
  justify-content: end;
  align-content: center;
  padding: 0 35px 0 0;
}

.formButton2 {
  grid-column: 1 / span 2;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 43px 35px 35px 35px;
  max-width: 100%;
}
/* .form {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
} */

/* button {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border-top: none;
  border-left: none;
  background-color: rgb(210, 204, 249);
  border-width: 1px; 
  border-color: rgba(0, 0, 0, 0.37);
  box-shadow: 3px 5px 10px 0 rgba(247, 243, 243, 0.459), 3px 3px 2px 0 rgba(4, 4, 3, 0.3);
} */

button:hover {
  transform: scale(1.04);
  cursor: pointer;
  /* transition: all 0.5s ease; */
  /* background-color: rgba(244, 241, 238, 0.515); */
}

label {
  display: block;
}

input {
  width: 200px;
}

textarea {
  width: 200px;
  height: 75px;
}

.addButton {
  padding: 2rem;
}

.returnButton {
  padding: 2rem;
}

.form-btn {
  width: 208px;
}


.footer {
  /* grid-column: 1 / span 3; */
  max-width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* height:30px; */
  max-height: 2.5rem;
  background: #50A060;
  display: grid;
  align-content: center;
}

.footerText {
  color: #FFFFFD;
  text-align: center;
  /* font-family: Epilogue; */
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 7.2px;
  text-transform: uppercase;
}


/* delete warning */

.deleteWarning {
  width: 356px;
  height: 176px;
  border-radius: 5px;
  background: #F3EDE7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.deleteWarningText {
  max-width: 100%;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: none;
  padding: 42px 65px 34px 65px;
  margin: 0;

}

.deleteWdgButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 73px;
}


.cartButton, .saveFormButton {
  width: 107px;
  height: 27px;
  border-radius: 20px;
  background: #50A060;
  border: none;
  box-shadow: 0px 2px 7.2px 0px rgba(10, 9, 9, 0.20);
  background: linear-gradient(0deg, #468E54 33.97%, #50B564 71.97%);
}

.buttonTextSolid, .buttonText {
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  height: 100%;
  padding-bottom: 4px;
  color:#000;
}

.buttonTextSolid {
  color: #FFFFFD;
}

#formCancelButton, #formSaveButton {
  width: 142px;
}

.cancelButton, .cancelFormButton {
  height: 27px;
  /* display: flex;
  place-content: center; */
  padding-bottom: 2px;
  border-radius: 20px;
  border-radius: 20px;
  border: 1.5px solid #468E54;
  background: #E8ECE7;
  color: #4fa05f;
  box-shadow: 0px 2px 7.2px 0px rgba(65, 63, 63, 0.15);
  background: linear-gradient(180deg, rgba(70, 142, 84, 0.04) 25.93%, rgba(70, 142, 84, 0.20) 109.26%), #FFFFFD;
}

.cancelButton {
  width: 17px;
}

.btn1 {
  position: absolute;
  bottom: 10%;
  padding: 43px 0px 35px 35px;
  max-width: 100%;
}

.btn2 {
  /* grid-column: 2;
  grid-row: 5; */
  display: grid;
  padding: 43px 35px 37px 0px;
  max-width: 100%;
  justify-content: end;
}

.buttonText {
  color: #468E54;
}

.deleteButton {
  width: 110px;
  height: 27px;
  padding-bottom: 2px;
  border-radius: 20px;
  background: #B02024;
  border: none;
  box-shadow: 0px 4px 7.2px 0px rgba(10, 9, 9, 0.30);
}
